@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.header {
  position: relative;
  top: 0;

  &__container {
    position: relative;
    top: 0;
    padding: 0 10% 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00ffff;
  }

  &__logo {
    font-family: "Sacramento", cursive;
    color: #00ffff;
    font-size: 2em;
    margin-top: 0.5em;
  }

  &__nav-links {
    width: fit-content;
    font-family: "RedWingLight";
    ul {
      display: flex;
      white-space: nowrap;
      li {
        position: relative;
        list-style: none;
        cursor: pointer;
        letter-spacing: 0.1em;
        height: 4em;
        text-align: end;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0.5em;

        a {
          text-decoration: none;
          color: #00ffff;
        }

        a:hover {
          color: #ff6347;
        }
      }

      .header__nav-links-container {
        position: relative;
        top: 0;
      }
      .header__nav-links-container:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
  &__route-bg {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #1f1f1f;
    z-index: -1;
  }
  &__route-bg-animation {
    height: 100%;
    animation: linkBgAnimation 0.5s ease-in-out 1;
  }
}

@keyframes linkBgAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
